body{
    text-align: right;
    margin: 0;
}
.section1{
    width: 16vw;
    height: 100vh;
    display: inline-block;
    background-color:rgba(0, 255, 255, 0.199);
    padding-bottom: 100vh;
}
.image1{
    background-image: url("images/poster_16ce0b18-dd39-40e9-b54f-0f23d11729a3.jpeg");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 65px;
    margin-top: 20px;
}
.t1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
}
.m1{
    font-size: 18px;
    text-align: center; 
    margin-bottom: 20px;
}
.image2{
    background-image: url("images/icon1.jfif");
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
a{
    margin-left: 50px;
}
.iamge3{
    background-image: url("images/icon2.jfif");
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.image4{
    background-image: url("images/icon4.jfif");
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.image5{
    background-image: url("images/icon3.jfif");
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.t2,.t3{
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
}
.m2,.m3,.m4{
    width: 11vw;
    height: 3vh;
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 30px;
}
.m5{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}
.m6{
    font-size: 14px;
    margin-top: 5px;
    margin-left: 18px;
    text-align: left;
}


