*{
    margin: 0;
    padding: 0;
}
body{ /* body start */
    background-image: url("../images/dark\ bg.jfif");
    background-size:cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
} /* body end */

.header{ /* header start */
    padding:20px
} /* header */

.navbar{ /* navbar start */
    font-family: 'AR One Sans';
    font-size: x-large;
    background-color: rgba(221, 0, 0, 0.26);
    padding: 10px;
}
.navbar a{
    padding: 10px;
    text-decoration: none;
    color: white;
} 
a:hover{
    border-bottom: 4px solid red;
    transition-duration: 0.3s;
    color: #000000;
}/* navbar end */

.zone1{ /* zone1 start */
    margin: 0 auto;
}
.title_zone1{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    font-size: 50px;
    color: #000000;
    font-family:'ABeeZee';
    font-weight: bold;
    text-shadow: 4px 4px 4px #d69200;
    letter-spacing: 40px;
    background-color: rgba(221, 0, 0, 0.301);
    width: 600px;
    height: 60px;
}
.box_zone1{ /* box_zone1 start */
    background-image: url("../images/PORSCHE\ wallpaper.jfif");
    background-position: center;
    width: 800px;
    height: 500px;
    border: 5px solid gold;
    font-size: 0;
    border-radius: 20px;
    margin: 0 auto;
    padding: 40px;
}
.box_zone1:hover{
    font-size: 20px;
    color: white;
    border: 8px double red;
    font-style: oblique;
    line-height: 30px;
    transition-duration: 0.5s;
    text-align: justify;
    text-transform: capitalize;
}
.box_zone1:hover .title_box_zone1{
    font-weight: bold;
    color: gold;
    text-shadow: 2px 2px 7px orangered;
    padding-bottom: 20px;
}
.box_zone1:hover .text_box_zone1{
    text-shadow: 2px 2px 2px red;
}/* zone1 end */ /* box_zone1*/

.line_section1{ /* line stat */
    margin-top: 40px;
    margin-bottom: 40px;
}/* line end  */

.box1_zone2{ /* zone2 start */ /* box1_zone2 start */
    width: 1100px;
    height: 250px;
    border: 5px solid #d69200; 
    border-collapse: collapse;
    background-image: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    margin: 0 auto;
    box-shadow: -10px -10px 10px orangered;
}
.image1_zone2{
    width: 370px;
    height: 270px;
}
.text1_zone2{
    color: white;
    height: 215px;
    width: 650px;
    border: 2px solid orangered;
    border-radius: 20px;
    padding: 10px;
}
.title_text1_zone2{
    color: red;
    font-size: 27px;
    text-shadow: 3px 3px 3px black;
    text-align: center;
} /* box1_zone2 end */

.box2_zone2{ /* box2_zone2 start */
    width: 1100px;
    height: 250px;
    border: 5px solid #d69200;
    border-collapse: collapse;
    background-image: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 10px 10px 10px orangered;
}
.image2_zone2{
    width: 380px;
    height: 270px;
}
.text2_zone2{
    color: white;
    height: 215px;
    width: 650px;
    border: 2px solid orangered;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
}
.title_text2_zone2{
    color: red;
    font-size: 27px;
    text-shadow: 3px 3px 3px black;
    text-align: center;
} /* zone2 end */ /* box2_zone2 end */

.line_section2{ /* line_section2 start */
    margin-top: 40px;
} /* line_section2 end */

.box1_zone3{ /* zone3 stat */ /*box1_zone3 */
    width: 280px;
    height: 500px;
    border: 5px solid yellow;
    border-radius: 20px;
    background-color: #00000077;
    margin: 0 auto;
}
.image_box1_zone3{
    width: 280px;
    height: 240px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.text_box1_zone3{
    color: white;
    font-size: 14px;
    padding: 15px;
    border-radius: 20px;
    text-align: justify;
    font-family: 'AR One Sans';
}